@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
}
.nav-bar{
    background: linear-gradient(153.43deg, #00D2FF 0%, #3A7BD5 83.33%);
    height: 784px;
    width: 100%;
}
nav .logo{
    padding-left: 100px;
    padding-top: 20px;
}
nav{
    display: flex;
    padding: 2px 9px;
    justify-content: space-between;
    align-items: center;
}
.nav-links ul{
    padding-right: 100px;
    padding-bottom: 15px;
    padding-top: 20px;
} 
.nav-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding-right: 40px;
    padding-top: 5px;
}
.nav-links ul li a{
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    transition: .5s;
}
 nav ul li a:hover{
    color: #083049;
}
.nav-bar .content{
    font-family: 'poppins', sans-serif;
    float: left;
    color: white;
    padding-left: 120px;
    padding-top: 160px;
}
.nav-bar .content p{
    padding-top: 15px;
}
.ourimg{
    float: right;
    padding-top: 60px;
    padding-right: 90px;
}
.btn{
    width: 12%;
    padding: 6px;
    margin-top: 20px;
    font-family: 'poppins', sans-serif;
    left: 9%;
    position: absolute;
    font-size: 18px;
    font-weight: 300px;
    text-align: center;
    background: white;
    color: #2B9CE0;
    text-decoration: none;
    border-radius: 5px;
}
.content .fa{
    padding-left: 4px;
}
.sidesocial h2{
    font-family: 'poppins', sans-serif;
    color: white;
}
.sidesocial{
    display: flex;
    padding: 2px 9px;
    opacity: 50%;
    padding-bottom: 10px;
}
.sidesocial .fa{
    padding-right: 20px;
    font-size: 20px;
}
.sidesocial h2{
    font-size: 15px;
}
.social-icons ul{
    padding-left: 30px;
}
.social-icons ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding-right: 10px;
    padding-top: 5px;
}
.social-icons ul li a{
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    transition: .5s;
}
.featurecont{
    font-family: 'poppins', sans-serif;
    text-align: center;
    padding-top: 74px;
}
.featurecont h1{
    color: #F8EC7D;
    font-size: 16px;
    letter-spacing: 8px;
}
.featurecont h2{
    font-size: 24px;
    color: #2B9CE0;

}
.featurecont p{
    color: #2B9CE0;
    font-size: 16px;
}
.cards{
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-details{
    margin: 30px auto;
    width: 320px;
    height: 450px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.068), -5px -5px 30px 7px rgba(0, 0, 0, 0.048);
    transition: 0.4s;
    text-align: center;
    font-family: 'poppins', sans-serif;
}
.card-details h1{
    font-size: 18px;
}
.card-details p{
    font-size: 16px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.pricing{
    background: linear-gradient(153.43deg, #00D2FF 0%, #3A7BD5 83.33%);
}
.pricingcont{
    font-family: 'poppins', sans-serif;
    text-align: center;
    padding-top: 74px;
}
.pricingcont h1{
    color: #F8EC7D;
    font-size: 16px;
    letter-spacing: 8px;
}
.pricingcont h2{
    padding-top: 10px;
    font-size: 24px;
    color: #fff;

}
.pricingcont p{
    color: #fff;
    font-size: 16px;
}
